#synthUI {
    width: 1020px;
    height: 480px;
    padding: 60px;

    background-color: white;
    box-shadow: inset 0 5px 5px #FFF,
                0 6px 10px #000,
                0 15px 20px rgba(0,0,0,0.2);
    
}

